<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode  }}" dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ default "ltr" .Site.Language.LanguageDirection }}">
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <main class="container flex">
    <aside class="book-menu">
      <div class="book-menu-content">
        {{ template "menu" . }} <!-- Left menu Content -->
      </div>
    </aside>

    <div class="book-page">
      <header class="book-header">
        {{ template "header" . }} <!-- Mobile layout header -->
      </header>

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }} <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      <footer class="book-footer">
        {{ template "footer" . }} <!-- Footer under page content -->
        {{ partial "docs/inject/footer" . }}
      </footer>

      {{ template "comments" . }} <!-- Comments block -->

      <label for="menu-control" class="hidden book-menu-overlay"></label>
    </div>

    {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
    <aside class="book-toc">
      <div class="book-toc-content">
        {{ template "toc" . }} <!-- Table of Contents -->
      </div>
      {{ if eq .CurrentSection.Params.showLanguageFilter true }}
      <div class="book-toc-languages">
        {{ template "languages" . }} <!-- Table of Contents -->
      </div>
      {{ end }}
    </aside>
    {{ end }}
  </main>

  {{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
  {{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
  {{ partial "docs/header" . }}

  {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
  <aside class="hidden clearfix">
    {{ template "toc" . }}
  </aside>
  {{ end }}
{{ end }}

{{ define "footer" }}
  {{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
  {{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
  <div class="book-comments">
    {{- partial "docs/comments" . -}}
  </div>
  {{ end }}
{{ end }}

{{ define "main" }}
  <article class="markdown book-article">
    {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}

{{ define "languages" }}
<h4>Coding Principles in ...</h4>
<nav>
  <div class="book-search">
    <input type="text" id="book-search-language-input" placeholder="Search Language" aria-label="Search Language" maxlength="64" data-hotkeys="s/">
  </div>
  <ul id="languages"></ul>
  <script>
    const languages = [{{ range (where .CurrentSection.Pages "Params.languageExample" "eq" true) }}{ title: "{{ .Params.languageExampleTitle }}", href: "{{ if .Content }}{{ .RelPermalink }}{{ else }}#{{ end }}" }, {{ end }}];
    const languageLinks = document.getElementById('languages');
    const searchInput = document.getElementById('book-search-language-input');
    const maxLanguages = 15

    const listLanguages = (filter = '') => {
      languageLinks.innerHTML = ''
      const filtered = languages
        .filter(item => item.title.toLowerCase().includes(filter.toLowerCase()))
      filtered.slice(0, filtered.length > maxLanguages ? maxLanguages : filtered.length)
        .forEach(item => {
          const link = document.createElement('a');
          link.href = item.href;
          link.textContent = item.title;
          const li = document.createElement('li');
          li.appendChild(link);
          languageLinks.appendChild(li);
        })
      if (filtered.length > maxLanguages) {
        const li = document.createElement('li');
        li.textContent = '...';
        languageLinks.appendChild(li);
      }
    }

    listLanguages('')
    searchInput.onkeyup = () => { listLanguages(searchInput.value) }
  </script>
</nav>
{{ end }}
